amqp
anyjson
asgiref
backports.csv
billiard
bumpversion
celery
certifi
chardet
click
defusedxml
diff-match-patch
Django
django-classy-tags
django-crispy-forms
django-formtools
django-import-export
django-js-asset
django-mysql
django-redis
django-reversion
django-timezone-field
et-xmlfile
future
html5lib
httplib2
idna
jdcal
kombu
lxml
Markdown
MarkupPy
msgpack-python
numpy
odfpy
openpyxl
Pillow
pip-tools
PyMySQL
python-dateutil
pytz
PyYAML
qiniu
redis
requests
shortuuid
six
sorl-thumbnail
sqlparse
tablib
urllib3
vine
webencodings
xlrd
XlsxWriter
xlwt
